.output {
  border-radius: 20px;
  /* padding: 0px; */
  background-color: rgb(107 114 128);
}
.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;

  text-align: right;
  background-color: rgb(107 114 128);
  color: white;
  font-weight: bold;

  display: flex;
  justify-content: end;
  min-height: 24px;

  padding-right: 5px !important;
}

.output .current-operand {
  color: white;
  font-size: 2rem;

  text-align: right;
  background-color: rgb(107 114 128);
  color: white;
  font-weight: bold;

  /* display: flex; */
  justify-content: end;
  min-height: 48px;

  padding-right: 20px !important;
}

.numbers,
#equal,
#del {
  width: var(--dimension);
  height: var(--dimension);
  border-radius: 50%;
  background-color: rgb(40 42 47);

  color: white;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}
.light-gray {
  width: 160px;

  --dimension: 70px;
  height: var(--dimension);
  border-radius: 9990px;
  background-color: rgb(107 114 128);

  color: white;
  font-weight: bold;
  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers.yellow,
#equal {
  background-color: rgb(245 158 11); /* #f59e0b */
}
.numbers#zero {
  border-radius: 9990px;
}

/* yellow styles only for desktop  */
#subtract {
  padding-bottom: 14px;
  font-size: 60px;
}
#add {
  padding-bottom: 7px;
}
#equal {
  padding-bottom: 4px;
}
#divide {
  padding-bottom: 6px;
}

#del {
  background-color: rgb(107 114 128);
  font-size: 20px;
}

.numbers.light-gray {
  background-color: rgb(209 213 219); /* #d1d5db */
  color: black;
}

body {
  height: 100%;
  overflow: hidden;
  display: grid;
}
#calculator {
  display: grid;
  margin: auto;

  justify-items: center;
  align-items: center;

  border-radius: 50px;
  background-color: black;

  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

/* button styling  */
.numbers#zero {
  height: 60px;
  width: 160px;
}
.yellow:active {
  transform: scale(0.95, 0.95);
}

.yellow:hover {
  cursor: pointer;
  background-color: rgb(239, 198, 128) !important;
}

.numbers:hover {
  cursor: pointer;
  background-color: rgb(107 114 128);
}
#all_clear:hover,
#del:hover {
  cursor: pointer;
  background-color: rgb(154, 158, 163);
}

/* the class we add to replicate the click effect on keydown  */

.numbers.active {
  transform: scale(0.9, 0.9);
  border: 3px solid orange;
  transition: border var(--transform-time), transform var(--transform-time);
}

#del.active,
#all_clear.active {
  transform: scale(0.9, 0.9);
  border: 3px solid orange;
  transition: border var(--transform-time), transform var(--transform-time);
}

.yellow.active_operation {
  transform: scale(0.9, 0.9);
  border: 5px solid gray;
  transition: border var(--transform-time), var(--transform-time);
}

#calculator {
  height: clamp(60vh, 80vh, 800px);
}

.numbers,
#equal,
#del {
  font-size: 40px;
}

#del {
  font-size: 25px;
}
#all_clear {
  font-size: 25px;
  height: 60px;
}

/* media query for mobiles  */
:root {
  /* //desktop dimension  */
  --dimension: 60px;
  --transform-time: 0.2s;

  --mobile-dimension: 65px;
}

@media (max-width: 600px) {
  /* selector for all small buttons on mobile */
  #subtract {
    padding-top: 5px;
  }
  #divide {
    padding-top: 3px;
  }
  #add {
    padding-top: 3px;
  }
  .numbers,
  #equal {
    font-size: 28px;

    height: var(--mobile-dimension);
    width: var(--mobile-dimension);
  }

  .numbers#zero {
    height: var(--mobile-dimension);
    width: calc(var(--mobile-dimension) * 2 + 5px);
  }
  #all_clear {
    height: var(--mobile-dimension);
    /* width: 140px; */
    width: calc(var(--mobile-dimension) * 2 + 5px);
  }
  #del {
    font-size: 22px;
    height: var(--mobile-dimension);
    width: var(--mobile-dimension);
    /* the dimension sets the height and width we set in the general style, above  */
  }

  #calculator {
    height: clamp(60vh, 85vh, 800px);
    display: grid;
    margin: 5% 5% 5% 5%;
    justify-items: center;
    align-items: center;
    border-radius: 50px;
    background-color: black;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;

    padding: 20px;
  }
}

/* No hover (most phones) */
@media (hover: none) {
}
